* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left img {
    height: 45px;
    margin-right: 1em;
}