* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

main {
    padding: 36px;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 0.75rem;
    font-weight: 500;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form--input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.imgContainer {
    height: 25em;
    margin: 2em;
    display: flex;
    justify-content: center;
}

.imgContainer img {
    max-height: 100%;
    padding: 0 auto;
}



/*-----------------------------------------------------------------------------

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left img {
    height: 45px;
    margin-right: 1em;
}

.container {
    width: 80%;
    margin: 0 auto;
}



.meme-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    width: 100%;
}

.meme-form input {
    font-size: 32px;
    width: 100%;
    margin: 5px;
}

.submit {
    font-size: 32px;
    width: 100%;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
}
*/
/*
.meme-form {
    /* margin-top: 2em; */
/* margin: auto; */
/*margin: 2em 0;*/
/* width: 100%; */
/* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
/*
}*/